
@model LoginViewModel

<table>
    <tr>
        <br /><br /><br />
        <td><img style="border-style:none" src="~/images/registrar-png-5.png" alt="Registrar Usuário" class="center-block" /></td><td></td><td></td><td></td>
        <td>
            <div class="row loginForm">
                <div class="col-md-8 col-md-offset-2">
                    <h2>Registrar usuário</h2>
                    <form asp-controller="Account" asp-action="Register" method="post" class="form-horizontal" role="form">
                        <h4>Se cadastre para gerenciar suas receitas!</h4>
                        <hr />
                        <div class="form-group">
                            <label asp-for="UserName" class="col-md-2 control-label"></label>
                            <div class="col-md-12">
                                <input asp-for="UserName" class="form-control" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="col-md-2 control-label"></label>
                            <div class="col-md-12">
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <label style="color:red; font-size:10px" class="col-md-12" >
                                A senha devem ter pelo menos um caractere alfanumérico, um dígito ('0' - '9') e uma maiúscula ('A' - 'Z').
                            </label>
                        </div>
                        <div class="form-group pull-right formPullRightButton">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" class="btn btn-success " value="Registrar" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </td>
    </tr>
</table>
